# Written by scripts/bootstrap.sh at boot; kept here for local `docker compose config`.
RUN_DIR=/srv/zabbix
ZABBIX_VERSION=7.0
DB_HOST=netmon-zabbix.xxxxxxxx.us-west-2.rds.amazonaws.com
FQDN=netmon.boocorp.com
ZBX_SERVER_NAME=Boost Netmon
ACME_EMAIL=it@boostability.com
TZ=America/Denver
